body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.heading{
    text-align: center;
    color:#ffffff ;
    font-size: 4.5rem;
    margin: 20px;

}
.dot {
    position: absolute;
    background-color: #48b2f9;
    border-radius: 50%;
    z-index: -1;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: 330px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #f3dfdff6;
    font-size: 20px;
    cursor: pointer;
}

