body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.heading{
    text-align: center;
    color:#ffffff ;
    font-size: 4.5rem;
    margin: 20px;

}
.dot {
    position: absolute;
    background-color: #48b2f9;
    border-radius: 50%;
    z-index: -1;
}